@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Baloo Bhai 2', cursive;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 900px;
}

.navbar {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(204, 201, 201);
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  margin: 0 5px;
}

.navbar ul li a {
  padding: 10px;
  text-decoration: none;
  color: rgb(138, 138, 138);
}

.navbar ul li a:hover {
  color: black;
}
.logo img {
  height: 50px;
}

/* home Page */

.home {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.there {
  color: rgb(138, 138, 138);
}

.osama {
  color: black;
}

.developer {
  color: rgb(30, 180, 180);
}

.about p {
  font-size: 20px;
  margin-top: 1rem;
}

.project-container, .skills {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.project-card, .skill-card {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  width: 15.5vw;
  padding: 20px;
  margin: 20px 0;
  font-size: 18px;
  background-color: rgb(225, 241, 241);
  border-radius: 16px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}


.card span {
  display: flex;
  justify-content: center;
  font-size: 15px;
  max-width: 80px;
  font-weight: 600;
  margin-top: 10px;
  background-color: rgb(201, 199, 199);
  border-radius: 12px;
}

.card p {
  line-height: 25px;
  margin-top: 15px;
}

.button {
  display: flex;
  margin:auto;
  padding: 10px;
}

.btn {
  padding: 3px 17px;
  background-color: rgb(30, 180, 180);
  color: white;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 17px;
}

.anchor {
  text-decoration: none;
  color: unset;
}

.view {
  font-size: 14px;
  margin-top: 20px;
}

.btn2 {
  padding: 1px 15px;
  color: black;
  border: 2px solid rgb(27, 155, 155);
  border-radius: 24px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.btn2:hover {
  color: white;
  background-color: rgb(27, 155, 155);
  transition: 0.3s all ease;
}

.btn:hover {
  background-color: rgb(27, 155, 155);
  transition: 0.3s all ease;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.image img {
  height: 40px;
  margin-bottom: 5px;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
  margin-top: 60px;
  border-top: 1px solid rgb(204, 201, 201);
}

.copyright {
  font-size: 19px;
}

.copyright p span {
  color: rgb(30, 180, 180);
}

.social {
  font-size: 1.5rem;
  margin: 0 15px;
  color: rgb(138, 138, 138);
}

.social:hover {
  color: rgb(30, 180, 180);
}

