* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 900px;
}

.navbar {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(204, 201, 201);
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  margin: 0 5px;
}

.navbar ul li a {
  padding: 5px;
  text-decoration: none;
  color: rgb(138, 138, 138);
}

.navbar ul li a:hover {
  color: black;
}
.logo img {
  height: 60px;
}
